---
title: Spring Boot Actuator Endpoints
owner: Spring Cloud Services
---

<strong><%= modified_date %></strong>

The Spring Cloud Config Server backing app for a Config Server service instance uses [Spring Boot Actuator](http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready). Actuator adds a number of endpoints to the app, including the endpoints that are summarized below.

<table>
	<col style="width:15%">
	<col style="width:85%">
	<thead>
		<td><strong>ID</strong></td>
		<td><strong>Function</strong></td>
	</thead>
	<tr>
		<td><code>health</code></td>
		<td>Displays information about the health and status of the app</td>
	</tr>
	<tr>
		<td><code>info</code></td>
		<td>Displays selected information about the app</td>
	</tr>
</table>

See the <a href="http://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#production-ready-endpoints">Endpoints</a> section of the Actuator documentation for the full list of endpoints.

A Config Server service instance's backing Spring Cloud Config Server app enables the Spring Boot Actuator `health` and `info` endpoints. See below for information about how to access these endpoints.

## <a id="locating-service-instance-url"></a>Locating the Service Instance URL

A Config Server service instance's Spring Cloud Config Server backing app is located in the `p-spring-cloud-services` org, in a space named after the service instance GUID. You can obtain this GUID using the Cloud Foundry Command Line Interface (cf CLI) by running the `cf service` command for the service instance, passing the `--guid` flag:

<pre class="terminal">
$ cf service --guid config-server
a5782192-8036-4f57-8312-4756a2604240
</pre>

To obtain the URL of the service instance's backing app, target the `p-spring-cloud-services` org and the space named after the GUID:

<pre class="terminal">
$ cf target -o p-spring-cloud-services -s a5782192-8036-4f57-8312-4756a2604240
</pre>

Then run the `cf apps` command to find the backing app and its URL:

<pre class="terminal">
$ cf apps
Getting apps in org p-spring-cloud-services / space a5782192-8036-4f57-8312-4756a2604240 as user...
OK

name            requested state   instances   memory   disk   urls
config-server   started           1/1         1G       1G     config-server-a5782192-8036-4f57-8312-4756a2604240.apps.example.com
</pre>

## <a id="instance-accessing-endpoints"></a>Accessing Endpoints

You can access an Actuator endpoint on the service instance by appending the path `/actuator/ENDPOINT` to the URL of the service instance's backing app, where `ENDPOINT` is the ID of the endpoint. To view the output of the `health` endpoint, append `/actuator/health` to the backing app's URL. The following example uses cURL to make a request of the endpoint:

<pre class="terminal">
$ curl https://config-server-a5782192-8036-4f57-8312-4756a2604240.apps.example.com/actuator/health
</pre>

Given an unauthenticated request, the `health` endpoint displays only summary health information. With the cf CLI, you can use the `cf oauth-token` command to obtain an OAuth 2.0 token for use in making an authenticated request to this endpoint:

<pre class="terminal">
$ curl -H "Authorization: $(cf oauth-token)" https://config-server-a5782192-8036-4f57-8312-4756a2604240.apps.example.com/actuator/health
</pre>
